@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  letter-spacing: 0.5px;
}

.hero .slick-slider .slick-slide {
  transition: all 4s ease-out !important;
}

.slick-arrow {
  width: auto !important;
  height: auto !important;
  z-index: 999 !important;
  transform: translateY(-110%) !important;
  background: #fff !important;
  padding: 7px 4px 0 !important;
  border-radius: 50% !important;
}
.slick-arrow::before {
  border-radius: 50% !important;
  font-size: 2.5rem !important;
  color: #000 !important;
}

.slick-arrow.slick-prev {
  left: 0 !important;
}
.slick-arrow.slick-next {
  right: 0 !important;
}

.slick-slide {
  transition: all 0.3s ease-in-out !important;
}
.slick-active.slick-center {
  scale: 1.2 !important;
}

.slick-dots li {
  width: 3rem !important;
  height: 0.3rem !important;
  background-color: #ccc;
  border-radius: 1rem;
}

.slick-dots li button::before {
  width: 100% !important;
  height: 100% !important;
  color: transparent !important;
}
.slick-dots li.slick-active {
  width: 4rem;
  height: 0.2rem;
  background-color: #6366f1;
}

/* ================== */